body {
    margin: auto;
    width: 400px;
    padding: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

h1 {
    color:hotpink;
    text-align: center;
}

#principal {
    background-color: antiquewhite;
    padding: 25px;
}
